
body {
    background-color: lightcyan;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding: 2em;
}


h1 {
    font-size: 3em;
    font-weight: 700;
    color: white;
    background-color: tomato;
    transition: all 0.5s;
    margin-bottom: 0.5em;
}

h2 {
    margin-top: 1em;
    font-weight: 700;
    font-size: 2em;    
}

img {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 0.5%;
    padding: 0.5em;
    border: lightseagreen;
    border-style: solid;
    margin-top: 1em;
    margin-bottom: 1em;

}

.progressText {
    font-size: 0.5em;
    font-weight: 800;
    text-align: right;
    display: none;
}

.progressBg {
    background-color: #8FD8D4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.3em;

}

.progress {
    background-color: lightseagreen;
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 0.3em;
    overflow: hidden;
    color: white;
    font-weight: 900;

}

.titleBar {
    background-color: tomato;
    position: fixed;
    top: 0.3em;
    left: 0;
    width: 100%;
    height: 1.2em;
    overflow: hidden;
    color: white;
    font-weight: 900;
    display: none;
}

.hide  {
    display: none;
}

.show  {
    display: block;
}
.reading {
    font-size: 0.8em;
    font-weight: 800;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

footer {
    text-align: center;
    font-size: 0.8em;
    margin-top: 1.5em;
}
